@import "tailwindcss";

.urdu {
  font-family: "Noto Nastaliq Urdu", serif;
  direction: rtl;
}

.english {
  font-family: "Times New Roman", serif; 
  direction: ltr;
  text-align: left; 
}

body {
  font-family: "Noto Nastaliq Urdu", sans-serif;
}